

  body {
    background-color: #2f3436;
    font-family: 'Montserrat', sans-serif;
  }

  .container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #3b4144;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .header {
    text-align: center;
    margin-bottom: 20px;
  }

  .header h1 {
    color: #66d9ef;
    font-size: 36px;
    font-weight: bold;
  }

  .header p {
    color: #fff;
    font-size: 18px;
  }

  .cybersecurity-icon {
    font-size: 48px;
    color: #66d9ef;
    margin-bottom: 20px;
  }

  .cybersecurity-icon i {
    margin-right: 10px;
  }

  .card {
    background-color: #434a50;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .card h2 {
    color: #66d9ef;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .card p {
    color: #fff;
    font-size: 18px;
  }

  .button {
    background-color: #66d9ef;
    color: #2f3436;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .button:hover {
    background-color: #3b4144;
  }